<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Jokes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Chuck Norris Joke!!</h1>
        <p th:text="${joke}">Insert Joke Here!!!</p>
    </body>
</html>
